
a{
    font-family: 700;
}
#nav{

    background-color: #f8f9fa;
}
.orange-text{
    color: orange;
}
#home{
    margin-top: 150px;
    margin-bottom: 50px;
}
#phone , #laptop{
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
    color: gray;
}
.black-btn{
    padding: 8px 23px;
    border-radius: 8px;
    background-color: black;
    border: 2px solid black;
    color: white;
    border: none;
    outline: none;
    margin-top: 20px;
    box-sizing: border-box;
}
.black-btn:hover{
    background-color: #fff;
    color: black;
    border: 2px solid black;

}
.logo-img img{
    height: 80px;
}

#nav{
    background-color: #f8f9fa;
    
}
.card{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 50px lightgrey;
}
.card img{
    margin: auto;
   width: 200px;
}